.radio {
  margin-left: 10%;
  margin-right: 10%;
  font-size: 1.2rem;
  border-color: #006dbf !important;
}

:host::ng-deep.mat-radio-button.mat-accent.mat-radio-checked
  .mat-radio-outer-circle {
  border-color: #006dbf !important;
  color: #006dbf !important;
}
.custom-radio {
  border-color: #006dbf;
  color: #006dbf;
}

:host::ng-deep .mat-accordion .mat-expansion-panel:not(.mat-expanded),
.mat-accordion .mat-expansion-panel:not(.mat-expansion-panel-spacing) {
  margin-top: 20px;
  width: 50%;
  margin-left: 25%;
}

.mat-expansion-panel {
  margin-top: 20px!important;
  width: 50%;
  margin-left: 25%;
}

.selected {
  color: red;
  cursor: pointer;
}
