<mat-accordion style="width: 80%!important;">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header><h2 style="color:#006dbf ">Mes Comptes</h2>  </mat-expansion-panel-header>

      <div *ngFor="let el of myAccounts">
        <h3  (click)="selectAccount(el.id)" [class.selected]="el.id === selectedAccountId">{{el.id}}</h3>
      </div>
   
  </mat-expansion-panel>
  <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
  </mat-expansion-panel>
</mat-accordion>

<mat-card
  class="example-card"
  style="
    width: 60%;
    margin-top: 3%;
    display: block;
    align-items: center;
    justify-content: center;
    margin-left: 20%;
  "
>
  <mat-card-header style="height: 50px; align-items: center; font-size: 60px">
    <mat-card-title>Opérations:</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content style="margin-top: 3%">
    <form class="example-form" [formGroup]="customerForm">
      <div class="form check form check-inline" appearance="fill">
        <mat-radio-group
          formControlName="typeOperation"
          style="
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
          "
        >
          <mat-radio-button class="radio" value="DEBIT">Débit</mat-radio-button>
          <mat-radio-button class="radio" value="CREDIT"
            >Crédit</mat-radio-button
          >
          <mat-radio-button class="radio" value="TRANSFER"
            >Transfert</mat-radio-button
          >
        </mat-radio-group>
      </div>
      <div style="margin-top: 7%">
        <div class="form-row">
          <div class="col-sm-7 mx-auto">
            <mat-form-field [style.width.%]="100" appearance="fill">
              <mat-label>Amount</mat-label>
              <input
                type="text"
                matInput
                formControlName="amount"
                placeholder="0.000"
                maxlength="500"
              />
            </mat-form-field>
          </div>
        </div>

        <div class="form-row">
          <div class="col-sm-7 mx-auto">
            <mat-form-field
              [style.width.%]="100"
              appearance="fill"
              *ngIf="customerForm.value.typeOperation == 'TRANSFER'"
            >
              <mat-label>Déstination</mat-label>
              <input
                type="text"
                matInput
                formControlName="destination"
                placeholder="destination"
                maxlength="500"
              />
              <mat-error
                *ngIf="
                  this.customerForm.controls['destination'].hasError('pattern')
                "
              >
                Taper un numéro de compte valide
              </mat-error>
              <mat-error
                *ngIf="
                  this.customerForm.controls['destination'].hasError('required')
                "
              >
                Taper un numéro de compte valide
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="form-row">
          <div class="col-sm-7 mx-auto">
            <mat-form-field [style.width.%]="100" appearance="fill">
              <mat-label>Déscription</mat-label>
              <textarea
                type="text"
                matInput
                formControlName="description"
                placeholder="Déscription"
              ></textarea>
            </mat-form-field>
          </div>
        </div>
      </div>
      <mat-card-actions>
        <div style="display: flex; justify-content: space-around">
          <button
            mat-icon-button
            aria-label="Example icon button with a heart icon"
            (click)="handleAccountOperation()"
          >
            <mat-icon style="color: #3f51b5">done</mat-icon>
          </button>

          <button
            mat-icon-button
            mat-button
            mat-dialog-close
            aria-label="Example icon button with a heart icon"
            (click)="close()"
          >
            <mat-icon style="color: red">close</mat-icon>
          </button>
        </div>
      </mat-card-actions>
    </form>
  </mat-card-content>

  <mat-card-footer>
    <mat-progress-bar mode="determinate"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
