<form class="example-form" [formGroup]="customerForm">
    <h2 class="title-form" style="display: flex; justify-content: center">
      Modifier les détails client
    </h2>
    <mat-form-field class="example-full-width mt-2" appearance="fill">
      <mat-label>Nom </mat-label>
      <input type="text" matInput formControlName="firstName" placeholder="Nom" />
      <mat-error
        *ngIf="this.customerForm.controls['firstName'].hasError('pattern')"
      >
        Taper le nom
      </mat-error>
      <mat-error
        *ngIf="this.customerForm.controls['firstName'].hasError('required')"
      >
        Taper le nom
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width mt-2" appearance="fill">
      <mat-label>Prénom</mat-label>
      <input
        type="text"
        matInput
        formControlName="lastName"
        placeholder="Prénom"
      />
      <mat-error
        *ngIf="this.customerForm.controls['lastName'].hasError('pattern')"
      >
        Taper le prénom
      </mat-error>
      <mat-error
        *ngIf="this.customerForm.controls['lastName'].hasError('required')"
      >
        Taper le prénom
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input
        type="text"
        matInput
        formControlName="email"
        placeholder="Ex. pat@example.com"
        maxlength="500"
      />
      <mat-error *ngIf="this.customerForm.controls['email'].hasError('pattern')">
        Taper une adresse e-mail valide
      </mat-error>
      <mat-error *ngIf="this.customerForm.controls['email'].hasError('required')">
        Taper une adresse e-mail valide
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Adresse</mat-label>
      <input
        type="text"
        matInput
        formControlName="adress"
        placeholder="adress"
        maxlength="500"
      />
      <mat-error *ngIf="this.customerForm.controls['adress'].hasError('pattern')">
        Taper l'adresse actuelle
      </mat-error>
      <mat-error
        *ngIf="this.customerForm.controls['adress'].hasError('required')"
      >
        Taper l'adresse actuelle
      </mat-error>
    </mat-form-field>
  
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Téléphone</mat-label>
      <input
        type="text"
        matInput
        formControlName="phone"
        placeholder="phone"
        maxlength="500"
      />
      <mat-error *ngIf="this.customerForm.controls['phone'].hasError('pattern')">
        Taper un téléphone valide
      </mat-error>
      <mat-error *ngIf="this.customerForm.controls['phone'].hasError('required')">
        Entrer un téléphone valide
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Poste actuel</mat-label>
      <input
        type="text"
        matInput
        formControlName="job"
        placeholder="job"
        maxlength="500"
      />
      <mat-error *ngIf="this.customerForm.controls['job'].hasError('pattern')">
        Taper le Poste actuel
      </mat-error>
      <mat-error *ngIf="this.customerForm.controls['job'].hasError('required')">
        Taper le Poste actuel
      </mat-error>
    </mat-form-field>
    <div style="display: flex; justify-content: space-around">
      <button
        mat-icon-button
       
        aria-label="Example icon button with a heart icon"
        (click)="onSubmitForm()"
        [disabled]="customerForm.invalid"
      >
        <mat-icon style="color: #3f51b5!important">done</mat-icon>
      </button>
  
      <button
        mat-icon-button
       
        aria-label="Example icon button with a heart icon"
        (click)="close()"
      >
        <mat-icon style="color: red!important">close</mat-icon>
      </button>
    </div>
  </form>
  
