.title-form{
    color: #006dbf
  }
  .example-form {
    width: 20vw;
  }
  .example-full-width {
    width: 100%;
    margin-bottom: 2%;
  }
  .mat-icon {
    color: #006dbf !important;
  }
  .btn-add{
    color: #fff;
    background-color: #006dbf !important;
  }
  .image-label{
    font-size: 0.9rem !important;
    color: rgb(130, 130, 130);
  }
  @media only screen and (max-width: 1200px) {
    .example-form {
      width: 50vw;
    }
  }