.bloc {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form {
  margin-left: 10%;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 50%;
}

h1 {
  color: royalblue;
  font-weight: 60%;
  font-style: italic;
  font-size: xx-large;
}

@media screen and (max-width: 650px) {
  .form {
    margin-top: 15%;
  }
  img {
    display: none;
    .form {
      width: 100%;
    }
  }
}
@media screen and (max-width: 290px) {
  .form {
    margin-top: 15%;
  }
  img {
    display: none;
    .form {
      width: 100%;
    }
  }
}
@media screen and (max-width: 1024px) {
  button {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.6rem;
    margin-top: 4%;
  }
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.form-outline {
  margin: 5px auto !important;
  width: 80%;
}

button {
  color: aliceblue;
  background-color: #3f51b5;
  border-radius: 10%;
  height: 40px;
  width: 100px;
  border-radius: 5%;
  border-color: #3f51b5;
}
button:hover {
  color: #3f51b5;
  background-color: aliceblue;
  border-radius: 5%;
  border-color: #3f51b5;
  border-width: 5px;
}
.bloc {
  margin-top: 3%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
