<div class="bloc" style="height: 80%;width: 70%;margin-left: 15%;">
    <form [formGroup]="loginForm" class="form">
      <h1 style="display: flex; justify-content: center;align-items: center;margin-bottom: 50px;">Bienvenue</h1>
  
      <div>
       
        <div class="form-outline mb-4">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Email</mat-label>
              <input
                type="email"
                matInput
                placeholder="Ex. pat@example.com"
                formControlName="email"
              />
              <mat-error
                *ngIf="this.loginForm.controls['email'].hasError('email')"
              >
                Entrer un email valide
              </mat-error>
              <mat-error
                *ngIf="this.loginForm.controls['email'].hasError('required')"
              >
                Email est <strong>obligatoire</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="form-outline mb-4">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Mot de passe</mat-label>
              <input
                type="password"
                matInput
                placeholder="0-9a-zA-z/*_+-"
                formControlName="password"
              />
              <mat-error
                *ngIf="
                  this.loginForm.controls['password'].hasError('pattern')
                "
              >
                Entrer un mot de passe valide
              </mat-error>
              <mat-error
                *ngIf="
                  this.loginForm.controls['password'].hasError('required')
                "
              >
                Mot de passe est <strong>obligatoire</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <br />
          <div style="display: flex; justify-content: center;align-items: center;margin-bottom: 50px;">
            <button
     
              type="submit"
              (click)="login()"
              [disabled]="loginForm.invalid"
            >
              S'identifier
            </button>
          </div>
  
        <div class="flex align-items-center justify-content-between my-3"></div>
  
       
      </div>
    </form>
    <img
      src="https://img.freepik.com/vecteurs-libre/illustration-concept-connexion-mobile_114360-83.jpg?w=740&t=st=1678351541~exp=1678352141~hmac=83fdd495544b9f4631702d941e3d737af546c56f9a145a98948bf4b251cad9be"
      alt="Image"
      style="height: 80%"
      width="50%"
    />
  </div>
  