<mat-toolbar color="primary">
  <div class="left-section">
    <a href="" mat-button>Acceuil</a>
    <a href="/customers" mat-button *ngIf="role == 'ADMIN' && isLoggedIn ">Clients</a>
  </div>

  <div class="spacer"></div>

  <div class="right-section">
  
    <button
    mat-mini-fab
    color="primary"
    [matMenuTriggerFor]="menu"
    aria-label="Example icon button with a menu icon"
    *ngIf="isLoggedIn"
  >
    <mat-icon>person</mat-icon>
  </button>
  <mat-menu #menu="matMenu"  >
    <button mat-menu-item>
      <mat-icon>dashboard</mat-icon>
      <span>
        <a href="/accounts" *ngIf="role==='ADMIN'"> Mon Dashbord </a>
        <a href="/historyOperations" *ngIf="role==='USER'"> Mes historiques </a>
      </span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>close</mat-icon>
      <span>Déconnexion</span>
    </button>
  </mat-menu>
  </div>
</mat-toolbar>
