.left-section {
  display: flex;
  justify-content: flex-start;
}

.spacer {
  flex: 1 1 auto;
}

.right-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  margin-right: 20px;
}
a:hover {
  color: #3f51b5;
  background-color: aliceblue;
}
#bt:hover {
  color: #3f51b5;
  background-color: aliceblue;
}
.list:hover {
  color: white;
  background-color: #3f51b5;
}
a{text-decoration: none;}