
.radio {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.2rem;
    border-color: #006dbf !important;
  
  }
  
  :host::ng-deep
    .mat-radio-button.mat-accent.mat-radio-checked
    .mat-radio-outer-circle {
    border-color: #006dbf !important;
    color:#006dbf !important;
  }
  .custom-radio{
      border-color: #006dbf;
      color: #006dbf;
    }
    .title-form{
        color: #006dbf
      }
      .example-form {
        width: 20vw;
      }
      .example-full-width {
        width: 100%;
        margin-bottom: 2%;
      }
      .mat-icon {
        color: #006dbf !important;
      }
      .btn-add{
        color: #fff;
        background-color: #006dbf !important;
      }
      .image-label{
        font-size: 0.9rem !important;
        color: rgb(130, 130, 130);
      }
      @media only screen and (max-width: 1200px) {
        .example-form {
          width: 50vw;
        }
      }
      .mat-form-field{justify-content: center;align-items: center;margin-left: 10%;}
      .form-row {margin-top: 5%;}