<mat-card class="example-card">
  <mat-card-header style="height: 50px; align-items: center; font-size: 40px">
    <mat-card-title>Ajouter un compte:</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content style="margin-top: 4%">
    <form
      class="example-form"
      [formGroup]="customerForm"
      style="margin-top: 5% !important"
    >
      <div class="form check form check-inline" appearance="fill">
        <mat-radio-group
          formControlName="type"
          style="
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin-bottom: 4%;
          "
        >
          <mat-radio-button class="radio" value="EPARGNE"
            >Epargne</mat-radio-button
          >
          <mat-radio-button class="radio" value="COURANT"
            >Courant</mat-radio-button
          >
        </mat-radio-group>
      </div>
      <div style="margin-top: 4%">
        <div class="form-row">
          <div>
            <mat-form-field [style.width.%]="80" appearance="fill">
              <mat-label>Solde initial</mat-label>
              <input
                type="text"
                matInput
                formControlName="balance"
                placeholder="0.000"
              />
            </mat-form-field>
          </div>
        </div>

        <div class="form-row">
          <div>
            <mat-form-field
              [style.width.%]="80"
              appearance="fill"
              *ngIf="customerForm.value.type == 'EPARGNE'"
            >
              <mat-label>Taux d’intérêt</mat-label>
              <input
                type="text"
                matInput
                formControlName="interestRate"
                placeholder="0.000"
              />
            </mat-form-field>
          </div>
        </div>

        <div class="form-row">
          <div>
            <mat-form-field
              [style.width.%]="80"
              appearance="fill"
              *ngIf="customerForm.value.type == 'COURANT'"
            >
              <mat-label>Découvert</mat-label>
              <input
                type="text"
                matInput
                formControlName="overDraft"
                placeholder="0.000"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="form-row" style="display: none">
          <div class="col-sm-7 mx-auto">
            <mat-form-field [style.width.%]="100" appearance="fill">
              <mat-label>Client</mat-label>
              <input
                type="text"
                matInput
                formControlName="customer"
                placeholder="0.000"
              />
            </mat-form-field>
          </div>
        </div>
      </div>
      <mat-card-actions>
        <div style="display: flex; justify-content: space-around">
          <button
            mat-icon-button
            aria-label="Example icon button with a heart icon"
            (click)="createAccount()"
          >
            <mat-icon style="color: #3f51b5">done</mat-icon>
          </button>

          <button
            mat-icon-button
            mat-button
            mat-dialog-close
            aria-label="Example icon button with a heart icon"
          >
            <mat-icon style="color: red">close</mat-icon>
          </button>
        </div>
      </mat-card-actions>
    </form>
  </mat-card-content>

  <mat-card-footer>
    <mat-progress-bar mode="determinate"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
