
  <mat-form-field style="width: 30%; margin-left: 4%;margin-top: 2%;">
    <mat-label>Rechercher</mat-label>
    <input
      matInput
      placeholder="Ex. ium"
      [(ngModel)]="value"
      (input)="searchAccount(value)"
    />
  </mat-form-field> 

<div class="mat-elevation-z8" *ngIf="dataSource">
  <table mat-table [dataSource]="dataSource.content" matSort>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Numéro de compte</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <ng-container matColumnDef="balance">
      <th mat-header-cell *matHeaderCellDef>Solde</th>
      <td mat-cell *matCellDef="let element">{{ element.balance }}</td>
    </ng-container>
    <ng-container matColumnDef="createDate">
      <th mat-header-cell *matHeaderCellDef>Date de création</th>
      <td mat-cell *matCellDef="let element">{{ element.createDate| date:'d MMMM yyyy, à HH:mm'}} </td>
    </ng-container>
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Type</th>

      <td mat-cell *matCellDef="let element">{{ element.type }}</td>
    </ng-container>
    <ng-container matColumnDef="customer">
      <th mat-header-cell *matHeaderCellDef>Client</th>

      <td mat-cell *matCellDef="let element">
       {{element.customer.firstName}} {{element.customer.lastName}}
      </td>
    </ng-container>
    <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef>Details</th>
 

      <td mat-cell *matCellDef="let element" style="display: flex" > 

   <button
          class="bt"
          mat-fab
          color="primary"
          aria-label="Example icon button with a delete icon"
          (click)=" openDialog3(element)"
        >
        <mat-icon class="md">details</mat-icon>
        </button> 
</td>
</ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    *ngIf="dataSource"
    [length]="dataSource.totalElements"
    [pageSize]="dataSource.size"
    (page)="pageEvent = $event; onPaginateChange($event)"
    [pageSizeOptions]="[2, 5, 10, 15]"
    showFirstLastButtons
  >
  </mat-paginator>
</div>
