<h2 *ngIf="firstName && lastName"
  class="title-form"
  style="display: flex; justify-content: center; color: #3f51b5"
>
  Voulez vous supprimer &nbsp; {{ firstName[0].toUpperCase()
  }}{{ firstName.slice(1) }}&nbsp;

  {{ lastName[0].toUpperCase() }}{{ lastName.slice(1) }}?
</h2>
<h2 *ngIf="!lastName || !lastName"
  class="title-form"
  style="display: flex; justify-content: center; color: #3f51b5"
>
  Voulez vous supprimer ce client?
  
</h2>
<div style="display: flex; justify-content: space-around">
  <button
    mat-icon-button
    aria-label="Example icon button with a heart icon"
    (click)="deleteCustomer(id)"
  >
    <mat-icon style="color: #3f51b5">done</mat-icon>
  </button>

  <button
    mat-icon-button
    mat-button
    mat-dialog-close
    aria-label="Example icon button with a heart icon"
  >
    <mat-icon style="color: red">close</mat-icon>
  </button>
</div>
