<div
  class="example-button-container"
  style="
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    margin-right: 2%;
  "
>
  <mat-form-field style="width: 30%; margin-left: 4%">
    <mat-label>Rechercher</mat-label>
    <input
      matInput
      placeholder="Ex. ium"
      [(ngModel)]="value"
      (input)="searchCust(value)"
    />
  </mat-form-field>
  <button
    class="bt"
    mat-fab
    color="primary"
    aria-label="Example icon button with a delete icon"
    (click)="openDialog2()"
  >
    <mat-icon>note_add</mat-icon>
  </button>
</div>
<div class="mat-elevation-z8" *ngIf="dataSource">
  <table mat-table [dataSource]="dataSource.content" matSort>
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef>Nom</th>
      <td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef>Prénom</th>
      <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>
    <ng-container matColumnDef="adress">
      <th mat-header-cell *matHeaderCellDef>Adresse</th>

      <td mat-cell *matCellDef="let element">{{ element.adress }}</td>
    </ng-container>
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>Téléphone</th>

      <td mat-cell *matCellDef="let element">{{ element.phone }}</td>
    </ng-container>
    <ng-container matColumnDef="job">
      <th mat-header-cell *matHeaderCellDef>Poste de travail</th>

      <td mat-cell *matCellDef="let element">{{ element.job }}</td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element" style="display: flex">
        <button
          class="bt"
          mat-fab
          color="primary"
          (click)="openDialog3(element)"
        >
          <mat-icon class="md">update</mat-icon>
        </button>
        <button
          class="bt"
          mat-fab
          color="primary"
          aria-label="Example icon button with a delete icon"
          (click)="openDialog(element)"
        >
          <mat-icon class="md">delete</mat-icon>
        </button>
        <button
          class="bt"
          mat-fab
          color="primary"
          (click)="openDialog4(element)"
        >
          <mat-icon class="md">note_add</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    *ngIf="dataSource"
    [length]="dataSource.totalElements"
    [pageSize]="dataSource.size"
    (page)="pageEvent = $event; onPaginateChange($event)"
    [pageSizeOptions]="[2, 5, 10, 15]"
    showFirstLastButtons
  >
  </mat-paginator>
</div>
