<!-- <div
  class="example-button-container"
  style="
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    margin-right: 2%;
  "
> -->
<!-- <mat-form-field style="width: 30%; margin-left: 4%;margin-top: 2%;">
    <mat-label>Rechercher</mat-label>
    <input
      matInput
      placeholder="Ex. ium"
      [(ngModel)]="value"
      (input)="searchAccount(value)"
    />
  </mat-form-field>  -->
<!-- <button
    class="bt"
    mat-fab
    color="primary"
    aria-label="Example icon button with a delete icon"
    (click)="openDialog2()"
  >
    <mat-icon>note_add</mat-icon>
  </button>
</div> -->
<div
  class="mat-elevation-z8"
  style="width: 600px; height: 400px"
  *ngIf="x != 0"
>
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="operationDate">
      <th mat-header-cell *matHeaderCellDef>Date d'opération</th>
      <td mat-cell *matCellDef="let element">
        {{ element.operationDate | date : "d MMMM yyyy, à HH:mm" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef>Montant</th>
      <td mat-cell *matCellDef="let element">
        {{ element.amount | number : "1.3-3" }}
      </td>
    </ng-container>
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Type d'opération</th>
      <td
        mat-cell
        *matCellDef="let element"
        [ngClass]="{
          credit: element.type === 'CREDIT',
          debit: element.type === 'DEBIT'
        }"
      >
        {{ element.type }}
      </td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Déscription</th>

      <td mat-cell *matCellDef="let element">{{ element.description }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
<div *ngIf="x === 0">
  <h1 style="color: red;font-weight: 200;">Pas d'opérations disponible !!</h1>
</div>
