.mat-table {
  justify-content: center;
  align-items: center;
  width: 100%;
  border-spacing: 0;
  max-height: 400px;
  border-spacing: 0;
  border-collapse: collapse; 
}

.mat-header-cell {
  font-weight: 800;
  color: #3f51b5;
  font-size: 0.9rem;
  justify-content: center !important;
  align-items: center !important;
}
.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}
.bt {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3%;
  margin-top: 12px;
}
td {
  height: 60px;
}
.mat-elevation-z8 {
  margin: 2%;
}
.md {
  width: 2px;
  height: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
td:hover {
  cursor: pointer;
}

.credit {
  color: blue;
}

.debit {
  color: red;
}

th {
  position: sticky;

  top: 0;

  background-color: white;

  z-index: 1;
}
th,
td {
  padding: 2px;

  border: 1px solid #ddd;

  text-align: left;
}

:host ::ng-deep .mat-dialog-container {
  padding: 0px !important;

}
